*{
  border-radius: 10px;
  border: none;
}

body{
  background: #626261;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#secret{
  /* display: none; */
}


#extendedCalc{
  display: none;
}


#previous{
  width: 50%;
  min-width: 545px;
  height: 400px;
  padding: 5px;
  background-color: rgb(210, 196, 170);
  background-color: rgb(52, 44, 28);
  color: white;
  text-align: right;
}


#calcBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
table, #extend{
  position: relative;
  right: 15px;
}

table , td, th {
  color: white;
	border: 1px solid rgb(148, 255, 148);
  text-align: center;
}
td, th {
	padding: 3px;
	width: 50px;
	height: 50px;
  transition: .2s;
  background: #262624;
  border-radius: 5px;
}
#output{
  height: 48px;
  width: 200px;
  font-size: 25px;
  margin: 10px;
  text-align: right;
}


#cleanNote img{
  width: 30px;
  height: 30px;
}
#extend, #cleanNote{
  background-color: #626261;
  transition: .5s;
  width: 30px;
  padding: 0;
}
.arrowImg{
  width: 30px;
  height: 30px;
}
.right{
  display: none;
}

td:hover, #extend:hover, #cleanNote:hover{
  opacity: .5;
}